<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game over</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex justify-center items-center h-screen">
    <div class="rounded-lg shadow-lg w-96 py-12 flex flex-col justify-center items-center gap-4">
        <h1 class="text-{{ data.color }} text-3xl">{{ data.message }}</h1>
        <a href="/" class="border-2 border-black border-solid px-4 rounded-md">Back to menu</a>
    </div>
</body>
</html>