<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
  </head>
  <body class="bg-gray-100">
    <script type="text/javascript">
      const access_token = {{ data | tojson }}.access_token
    </script>

    <!-- <h1>{{ data.test }}</h1> -->
    <main id="main" class="flex flex-col gap-4 mt-10 justify-center items-center">
      <h1 class="text-3xl">Flight game</h1>
      <div class="bg-white p-2 shadow-md rounded-md">
        <p id="user">Logged in as {{ data.user }}</p>
      </div>
      <menu
        class="flex flex-col justify-center items-center bg-white gap-8 shadow-lg rounded-lg w-full max-w-md h-auto p-4"
      >
        <li
          class="flex justify-center items-center w-full h-16 bg-gray-50 rounded-lg shadow-md text-center hover:bg-indigo-700 hover:cursor-pointer hover:text-white"
        >
          <a href="" class="flex justify-center items-center w-full h-full"
            ><p>Load game</p></a
          >
        </li>
        <li
          class="flex justify-center items-center w-full h-16 bg-gray-50 rounded-lg shadow-md text-center hover:bg-indigo-700 hover:cursor-pointer hover:text-white"
        >
          <a href="" class="flex justify-center items-center w-full h-full"
            ><p>New game</p></a
          >
        </li>
        <li
          class="flex justify-center items-center w-full h-16 bg-gray-50 rounded-lg shadow-md text-center hover:bg-indigo-700 hover:cursor-pointer hover:text-white"
        >
          <a href="{{ url_for('logout') }}" class="flex justify-center items-center w-full h-full"
            ><p>Log out</p></a
          >
        </li>
      </menu>
    </main>


  </body>
</html>
