<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body>
  <main class="flex flex-col gap-4 mt-10 justify-center items-center">
      <h1 class="text-3xl">
        Flygame
      </h1>
      <div>
          <p>
              Username:
          </p>
      </div>
      <menu class="flex flex-col justify-center items-center gap-8 bg-[#F2F2F2] shadow-md w-[400px] h-[500px]">
        <li class="flex justify-center w-[300px] h-[70px] bg-white rounded-lg text-center hover:bg-[#00B4D8] hover:text-white"><button onclick=""><p>Load game</p></button></li>
        <li class="flex justify-center w-[300px] h-[70px] bg-white rounded-lg text-center hover:bg-[#00B4D8] hover:text-white"><button onclick=""><p>New game</p></button></li>
      </menu>
  </main>
</body>
</html>