<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Load game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript">
      const access_token = {{ data | tojson }}.access_token_data.access_token
    </script>
    <main class="">
      <nav class="flex flex row bg-[#2F2F2F] shadow-lg p-2">
        <ul class="">
          <li class="hover:bg-indigo-700 hover:text-white cursor-pointer hover:pointer p-2 rounded-md">
            <a href="/"><p class="">Back</p></a>
          </li>
        </ul>
      </nav>
      <div>
        {% if data.games %}
            <ul>
                {% for game in data.games %}
                    <li>Game ID: {{ game[0] }}, Players: {{ game[1] }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No games found.</p>
        {% endif %}
      </div>
    </main>
  </body>
</html>